@use "./mixins" as *;

@import url("https://fonts.googleapis.com/css?family=Saira:regular,500,600,700&display=swap");

/* Основні стилі */
body {
	background-color: var(--wight-color); 
	font-family: "Saira", sans-serif;
	color: var(--dark-color);
	
	opacity: 0;
	transition: opacity 1.5s;
	.loaded & {
		opacity: 1;
	}
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

.wrapper {
	min-height: 100%;
	overflow: clip; /* clip */

	display: flex;
	flex-direction: column;

	// @include m.adaptiveValue("padding-top", 116, 70);
}
.wrapper > main {
	flex-grow: 1;
}

/* --------------------- */
[class*="__container"] {
	padding-inline: toRem(15);
	max-width: toRem($containerWidth);
	margin: 0 auto;
}
/* --------------------- */

.block-header {
	// .block-header__title
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 40, 24);
		line-height: 1.3;
		text-transform: capitalize;
		&:not(:last-child) {
			margin-bottom: toRem(14);
		}
	}
	// .block-header__info
	&__info {
		font-weight: 400;
		@include adaptiveValue("font-size", 20, 14);
		line-height: 1.7;
	}
}