@use "./mixins" as m;

.advantages {
	@include m.adaptiveValue("padding-top", 96, 35);
	@include m.adaptiveValue("padding-bottom", 96, 35);
	// .advantages__container
	&__container {
		display: grid;
		grid-template-columns: 75fr 51fr;
		gap: m.toRem(32);
		align-items: end;
		opacity: 0;
		transform: translateY(20%);
		transition:
			opacity 0.6s ease,
			transform 0.6s ease;
		//-------------------------------------
		&.--animate {
			opacity: 1;
			transform: translateY(0);
		}
		@media (max-width: m.toEm(950)) {
			grid-template-columns: 1fr;
			justify-items: center;
			transform: translateY(10%);
		}
	}
	// .advantages__cards
	&__cards {
		display: grid;
		gap: m.toRem(32);
		grid-template-columns: 1fr 1fr;
		@media (max-width: m.toEm(550)) {
			grid-template-columns: 1fr;
		}
	}
	// .advantages__item
	&__item {
		@include m.adaptiveValue("padding", 40, 20);
		border-radius: m.toRem(30);
		background-color: var(--bg-color-light-2);
	}
	// .advantages__data
	&__data {
		@include m.adaptiveValue("font-size", 51, 30);
		font-weight: 500;
		line-height: 1.8;
		color: var(--white-color);
		&:not(:last-child) {
			margin-bottom: m.toRem(32);
		}
	}
	// .advantages__info
	&__info {
		font-weight: 300;
		font-size: m.toRem(18);
		line-height: 1.5;
	}
	// .advantages__img
	&__img {
		max-width: m.toRem(499);
		width: 100%;
		aspect-ratio: 84.863946%;
		overflow: hidden; /* 499/588 */
		border-radius: 0% 68% 60% 60% / 0% 68% 50% 50%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
