@use "./mixins" as m;

.blog {
	// .blog__container
	&__container {
		@include m.adaptiveValue("padding-top", 96, 35);
		@include m.adaptiveValue("padding-bottom", 96, 35);
	}
	// .blog__block-info
	&__block-info {
		@include m.adaptiveValue("margin-bottom", 64, 25);
		& .block-info__title {
			max-width: m.toRem(390);
			// @media (max-width: m.toEm(550)) {
			// }
		}
	}
	// .blog__cards
	&__cards {		
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		@include m.adaptiveValue("gap", 48, 20);
		@media (max-width: m.toEm(800)) {
			grid-template-columns: 1fr;
		}
			
	}
	// .blog__item
	&__item {
		opacity: 0;
		transform: translateY(40px);
		transition:
			opacity 0.6s ease,
			transform 0.6s ease;
		//---------------------------------
		border-radius: m.toRem(24);
		background-color: var(--bg-color-light-2);
		overflow: hidden;
		display: flex;
		flex-direction: column;
		.--animate & { 
			opacity: 1;
			transform: translateY(0);
		}
		@for $i from 1 through 3 {
			$delay: $i * 0.2;
			&:nth-child(#{$i}) {
				transition-delay: #{$delay}s;
			}
		}
	}
	&__inner {
		position: relative;
	}
	// .blog__img
	&__img {
		max-width: 100%;
		width: 100%;
		aspect-ratio: 394/194;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: scale(1.02);
		}
	}
	&__label {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: m.toRem(9);
		border-radius: 0 m.toRem(10) 0 0;
		background-color: var(--bg-label);
		font-family: var(--font-family);
		font-weight: 300;
		font-size: m.toRem(14);
		line-height: 1.6;
		color: var(--white-color);
	}
	// .blog__body
	&__body {
		flex-grow: 1;
		padding: m.toRem(26);
		display: flex;
		flex-direction: column;
		gap: m.toRem(20);
	}
	// .blog__date
	&__date {
		font-weight: 300;
		line-height: 1.5;
		color: var(--grey-color);
	}
	// .block__title
	&__title {
		font-weight: 400;
		font-size: m.toRem(19);
		line-height: 1.4;
		color: var(--white-color);
		&:not(:last-child) {
			margin-bottom: m.toRem(10);
		}
	}
	// .block__text
	&__text {
		flex-grow: 1;
		font-weight: 300;
		line-height: 1.5;
		p:not(:last-child) {
			margin-bottom: m.toRem(5);
		}
	}
	// .block__link
	&__link {
		font-weight: 300;
		font-size: m.toRem(14);
		line-height: 1.6;
		color: var(--accent-color);
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: var(--hover-color);
			}
		}
	}
}
