@use "./mixins" as m;

.clients {
	@include m.adaptiveValue("padding-top", 97, 35);
	@include m.adaptiveValue("padding-bottom", 80, 25); // .clients__container
	&__container {
		opacity: 0;
		transform: translateY(100%);
		transition:
			opacity 0.8s ease,
			transform 0.8s ease;
		//-------------------------------------
		&.--animate {
			opacity: 1;
			transform: translateY(0);
		}
		@media (max-width: m.toEm(767.98)) {
			transform: translateY(10%);
		}
	}
	// .clients__title
	&__title {
		font-weight: 300;
		font-size: m.toRem(14);
		line-height: 1.6;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		text-align: center;
		color: var(--white-color);
		&:not(:last-child) {
			@include m.adaptiveValue("margin-bottom", 44, 20);
		}
	}
	// .clients__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: m.toRem(15);
		justify-content: space-around;
		align-items: center;
	}
	// .clients__item
	&__item {
		position: relative;
		@media (min-width: m.toEm(920)) {
			&--last::before,
			&--first::before {
				content: "";
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
			}
			&--first::before {
				background: linear-gradient(90deg, #0d0d11 8%, rgba(0, 0, 0, 0) 100%);
			}
			&--last::before {
				background: linear-gradient(270deg, #0d0d11 8%, rgba(0, 0, 0, 0) 100%);
			}
		}

		img {
			width: 100%;
		}
	}
}
