@use "sass:math";
@use "./mixins" as m;

.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	background-color: #0d0d11a1;

	// .header__container
	&__container {
		transition: all 0.3s;
		@include m.adaptiveValue("min-height", 116, 70);
		display: flex;
		align-items: center;
		color: var(--white-color);
		@include m.adaptiveValue("gap", 35, 10);
		padding-block: m.toRem(5);
		transition: all 0.5s;
		@media (min-width: m.toEm(768)) {
			.scroll & {
				min-height: m.toRem(80);
			}
		}
	}
	// .header__logo
	&__logo {
		max-width: m.toRem(147);
		width: 100%;
		z-index: 5;
		@media (max-width: m.toEm(470)) {
			max-width: m.toRem(32);
			flex: 0 0 32px;
			overflow: hidden;
		}
	}
	// .header__menu
	&__menu {
		flex: 1 1 auto;
		font-weight: m.toRem(300);
		line-height: 1.6;
	}
	// .header__cart
	&__cart {
	}
	// .header__button
	&__button {
		flex: 0 0 auto;
		z-index: 5;
	}
}
.menu {
	&__body {
		@media (max-width: m.toEm(767.98)) {
			position: fixed;
			width: 100%;
			height: 100%;
			background-color: var(--bg-color);
			top: 0;
			left: -100%;
			padding: m.toRem(100) m.toRem(15) m.toRem(30) m.toRem(15);
			overflow: auto;
			transition: left 0.3s ease 0s;
			&::before {
				content: "";
				width: 100%;
				position: fixed;
				top: 0;
				left: -100%;
				height: m.toRem(70);
				background-color: var(--bg-color);
				z-index: 2;
				transition: left 0.3s ease 0s;
			}
			.menu-open &,
			.menu-open &::before {
				left: 0;
			}
		}
	}
	// .menu__list
	&__list {
		justify-content: flex-end;
		display: flex;
		flex-wrap: wrap;
		column-gap: m.toRem(34);
		row-gap: m.toRem(3);
		@media (max-width: m.toEm(767.98)) {
			flex-direction: column;
			row-gap: m.toRem(10);
			font-size: m.toRem(26);
			text-align: center;
		}
	}
	// .menu__item
	&__item {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			inset-block-end: m.toRem(-5);
			inset-inline-start: 50%;
			transform: translateX(-50%);
			inline-size: 0%;
			block-size: m.toRem(2);
			border-radius: m.toRem(3);
			background-color: var(--accent-color);
			transition: all 0.3s;
		}
		@media (any-hover: hover) {
			&:hover::after {
				inline-size: 100%;
			}
		}
	}
	// .menu__link
	&__link {
	}
}
.cart {
	display: flex;
	gap: m.toRem(5);
	align-items: center;
	z-index: 5;
	@media (any-hover: hover) {
		&:hover &__quantity {
			background-color: var(--accent-color);
		}
	}
	// .cart__text
	&__text {
		letter-spacing: m.toRem(0.05);
		font-size: m.toRem(17);
		@media (max-width: m.toEm(370)) {
			font-size: m.toRem(12);
		}
	}
	// .cart__quantity
	&__quantity {
		font-weight: 500;
		font-size: m.toRem(14);
		letter-spacing: m.toRem(0.07);
		background-color: var(--bg-color-light);
		width: m.toRem(30);
		aspect-ratio: 1;
		max-width: 100%;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s;
	}
}

.icon-menu {
	display: none;
	@media (max-width: m.toEm(767.98)) {
		display: block;
		flex: 0 0 m.toRem(30);
		height: m.toRem(18);
		position: relative;
		z-index: 5;
		& span,
		&::before,
		&::after {
			content: "";
			right: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: var(--white-color);
			transition: all 0.3s ease 0s;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		& span {
			top: calc(50% - 1px);
		}
		.menu-open & span {
			width: 0;
		}
		.menu-open &::before {
			top: calc(50% - 1px);
			transform: rotate(-45deg);
		}
		.menu-open &::after {
			bottom: calc(50% - 1px);
			transform: rotate(45deg);
		}
	}
}
