@use "./mixins" as m;

@keyframes bottom {
	0% {
		transform: translateY(20%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.hero {
	// .hero__container
	&__container {
		@include m.adaptiveValue("padding-top", 44, 20);
		@include m.adaptiveValue("padding-bottom", 97, 40);
		display: flex;
		gap: m.toRem(32);
		@media (max-width: m.toEm(767.98)) {
			flex-direction: column;
		}
	}
	// .hero__content
	&__content {
		flex: 0 0 50%;
		align-self: center;
		@media (max-width: m.toEm(767.98)) {
			align-self: normal;
		}
	}
	// .hero__block-info
	&__block-info {
		max-width: m.toRem(505);
		width: 100%;
		transform: translateY(20%);
		opacity: 0;
		animation: bottom 2.5s 0.5s forwards;
		@media (max-width: m.toEm(767.98)) {
			max-width: 100%;
			animation: none;
			transform: translateY(0%);
			opacity: 1;
		}
	}

	// .hero__imgs
	&__imgs {
		flex: 0 0 50%;
		display: flex;
		justify-content: end;
		padding-right: 4.326923%; /* 27/624 */
		@include m.adaptiveValue("gap", 60, 10);
		opacity: 0;
		animation: opacity 5s forwards;
		@media (max-width: m.toEm(767.98)) {
			padding: 0;
			animation: none;
			opacity: 1;
		}
	}
	&__column {
		flex-basis: 38.621795%; /* 241/624 */
		display: flex;
		flex-direction: column;
		@include m.adaptiveValue("gap", 32, 15);
		@media (max-width: m.toEm(767.98)) {
			flex-basis: 50%;
			align-items: center;
		}
	}
	// .hero__item
	&__item {
		max-width: m.toRem(242);
		width: 100%;
		overflow: hidden;

		&--big {
			aspect-ratio: 242/423;
			border-radius: 50% / 29%;
		}
		&--small {
			aspect-ratio: 1;
			border-radius: 50% 50% 0 50%;
		}
		&--small2 {
			border-radius: 50% 0% 50% 50%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
