.hero {
	position: relative;
	min-height: 100svh;
	display: grid;

	// .hero__container
	&__container {
		width: 100%;
		height: 100%;
		display: grid;
		row-gap: toRem(20);
		position: relative;
		z-index: 2;
		@include adaptiveValue("padding-block", 90, 40);
		@media (min-width: toEm(560)) {
			grid-template-columns: 440fr 368fr;
			align-items: center;
		}
	}

	// .hero__content

	&__content {
		@media (max-width: toEm(560)) {
			align-self: end;
		}
	}

	// .hero__label

	&__label {
		color: $colorLight;
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: toRem(12);
		}
	}

	// .hero__video

	&__video {
		padding-right: toRem(20);
		align-self: start;
		color: $colorLight;
		font-size: 12px;
		font-weight: 500;
		display: inline-flex;
		gap: toRem(10);
		align-items: center;
		@media (min-width: toEm(560)) {
			justify-self: center;
			align-self: center;
		}
		&::before {
			flex-shrink: 0;
			content: "";
			width: toRem(32);
			aspect-ratio: 1;
			border-radius: 50%;
			background: url("../img/main/play.png") center center/contain no-repeat;
			transition: all 0.3s;
		}
		@media (any-hover: hover) {
			&:hover::before {
				box-shadow: 0 0 toRem(10) #000000ad;
				transform: scale(1.1);
			}
		}
	}

	// .hero__bg-img

	&__bg-img {
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		background-color: #000;
		img {
			position: absolute;
			@include img(100%, 100%, cover);
			inset: 0;
			@media (max-width: toEm(560)) {
				opacity: 0.8;
			}
		}
	}
}
