@font-face {
	font-family: "Lufga";
	src: url("../fonts/Lufga-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lufga";
	src: url("../fonts/Lufga-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lufga";
	src: url("Lufga-ExtraBold.eot");
	src: url("../fonts/Lufga-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lufga";
	src: url("../fonts/Lufga-Bold.eot");
	src: url("Lufga-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lufga";
	src: url("../fonts/Lufga-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lufga";
	src: url("../fonts/Lufga-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
