:root {
	--wight-color: #fff;
	--dark-color: #151515;
	--border-color: #979797;
	--grey-color: #e4e7ec;
	--accent-color:  #0b270b;

	--bg-light-color-01: rgba(255, 255, 255, 0.1);
	--bg-light-color-02: rgba(255, 255, 255, 0.2);
	--bg-light-color-03: rgba(255, 255, 255, 0.3);

	

}
