@use "./mixins" as m;

	@keyframes rotate {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.1);
		}

		100% {
			transform: scale(1);
		}
	}


/* Основні стилі */
body {
	background-color: var(--bg-color);
	font-family: "Poppins", sans-serif;
	color: var(--main-color);

	opacity: 0;
	transition: opacity 1.5s;
	.loaded & {
		opacity: 1;
	}
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

.wrapper {
	min-height: 100%;
	overflow: clip; /* clip */

	display: flex;
	flex-direction: column;

	@include m.adaptiveValue("padding-top", 116, 70);
}
.wrapper > main {
	flex-grow: 1;
}

/* --------------------- */
[class*="__container"] {
	padding-inline: m.toRem(15);
	max-width: m.toRem(1310);
	margin: 0 auto;
}
/* --------------------- */

.block-info {
	&__label {
		display: inline-block;
		border: m.toRem(1) solid var(--bg-color-light);
		border-radius: m.toRem(12);
		padding: m.toRem(11) m.toRem(19);
		font-weight: 300;
		font-size: m.toRem(10);
		line-height: 1.6;
		letter-spacing: 0.19em;
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: m.toRem(43);
		}
	}
	// .block-info__title
	&__title {
		font-weight: 500;
		@include m.adaptiveValue("font-size", 51, 30);
		line-height: 1.2;
		color: var(--white-color);
		position: relative;
		&:not(:last-child) {
			margin-bottom: m.toRem(28);
		}
		&--decor::before {
			content: "";
			z-index: -1;
			position: absolute;
			max-width: 24.110672%; /* 122/506 */
			width: 100%;
			top: m.toRem(-20);
			left: m.toRem(-30);
			aspect-ratio: 1;
			background: url("../img/decor.svg") center center/cover no-repeat;
			animation: rotate 10s linear infinite;
		}
	}


	// .block-info__text
	&__text {
		font-weight: 300;
		font-size: m.toRem(18);
		line-height: 1.5;
		& p:not(:last-child) {
			margin-bottom: m.toRem(10);
		}
		&:not(:last-child) {
			margin-bottom: m.toRem(33);
		}
		.why & {
			@media (min-width: m.toEm(1000)) {
				max-width: m.toRem(491);
			}
		}
	}
	&__wrapper {
		display: flex;
		gap: m.toRem(20);
		justify-content: space-between;
		align-items: flex-end;
		@media (max-width: m.toEm(767.98)) {
			flex-direction: column;
			align-items: baseline;
		}

		& .button {
			flex-shrink: 0;
			@media (max-width: m.toEm(479.98)) {
				max-width: 100%;
			}
		}
		& .block-info__text {
			max-width: m.toRem(736);
			margin: 0;
			@media (max-width: m.toEm(767.98)) {
				&:not(:last-child) {
					flex: 1 1 auto;
				}
			}
		}
	}
	// .block-info__btn

	// .block-info__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: m.toRem(16);
	}
	// .block-info__item
	&__item {
		position: relative;
		padding-left: m.toRem(42);
		font-weight: 300;
		line-height: 1.5;
		min-height: m.toRem(32);
		display: flex;
		align-items: center;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: m.toRem(32);
			aspect-ratio: 1;
			border-radius: 50%;
			background:
				url("../img/li.svg") center center/m.toRem(16) no-repeat,
				var(--bg-color-light-2);
		}
	}
}

.button {
	@include m.adaptiveValue("max-width", 160, 125);
	width: 100%;
	text-align: center;
	font-weight: 500;
	font-size: m.toRem(14);
	line-height: 1.6;
	letter-spacing: 0.14em;
	border-radius: m.toRem(50);
	@include m.adaptiveValue("padding-block", 16, 12);
	padding-inline: m.toRem(10);
	background-color: var(--accent-color);
	color: var(--white-color);
	transition: background-color 0.3s;
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--hover-color);
		}
	}

	&--light {
		background-color: var(--bg-color-light);
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--hover-color-light);
			}
		}
	}
}
.input {
	@include m.adaptiveValue("padding-block", 16, 12);
	padding-inline: m.toRem(10);
	border-radius: m.toRem(50);
	border: m.toRem(1) solid var(--bg-color-light);
	font-weight: 400;
	font-size: m.toRem(14);
	color: var(--white-color);
	background-color: transparent;
}

.btns {
	display: flex;
	gap: m.toRem(32);
	@media (max-width: m.toEm(479.98)) {
		flex-direction: column;
		& .button {
			max-width: 100%;
		}
	}
}

// .test {
// 	// .test__container
// 	&__container {
// 		padding: 50px 0;
// 	}
// 	// .test__block
// 	&__block {
// 		width: 1000px;
// 		aspect-ratio: 2/1;
// 		background-color: wheat;
// 		display: flex;
// 		gap: 10%;
// 	}
// 	// .test__item
// 	&__item {
// 		flex: 1 1 50%;
// 		background-color: rgb(86, 189, 76);
// 		&--1{
// 		background-color: rgb(76, 148, 189);
// 		}
// 	}

// }
