@use "./mixins" as m;

.testimonials {
	// .testimonials__container
	&__container {
		@include m.adaptiveValue("padding-top", 96, 35);
		@include m.adaptiveValue("padding-bottom", 96, 35);
	}
	// .testimonials__block-info
	&__block-info {
		@include m.adaptiveValue("margin-bottom", 75, 25);
	}
	// .testimonials__cards
	&__cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		@include m.adaptiveValue("gap", 48, 20);
		@media (max-width: m.toEm(1100)) {
			grid-template-columns: 1fr;
		}
	}
	// .clients__item
	&__item {
		opacity: 0;
		transform: translateY(40px);
		transition:
			opacity 0.6s ease,
			transform 0.6s ease;
		//-------------------------------------
		border-radius: m.toRem(30);
		@include m.adaptiveValue("padding-block", 64, 30);
		@include m.adaptiveValue("padding-inline", 40, 20);
		background-color: var(--bg-color-light-2);
		display: flex;
		flex-direction: column;
		gap: m.toRem(34);

		.--animate & {
			opacity: 1;
			transform: translateY(0);
		}
		@for $i from 1 through 3 {
			$delay: $i * 0.2;
			&:nth-child(#{$i}) {
				transition-delay: #{$delay}s;
			}
		}
	}
	// .clients__up-blok
	&__up-blok {
		font-weight: 300;
		display: grid;
		grid-template-columns: auto auto;
		column-gap: m.toRem(16);
		justify-content: start;
		align-items: center;
	}
	// .clients__img
	&__img {
		max-width: m.toRem(68);
		width: 100%;
		aspect-ratio: 1;
		overflow: hidden;
		&--1 {
			border-radius: 50% 0% 50% 50%;
		}
		&--2 {
			border-radius: 50% 50% 0% 50%;
		}
		&--3 {
			border-radius: 0 50% 50% 50%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .clients__name
	&__name {
		line-height: 1.5;
		color: var(--white-color);
		&:not(:last-child) {
			margin-bottom: m.toRem(7);
		}
	}
	// .clients__company
	&__company {
		font-size: m.toRem(14);
		line-height: 1.6;
	}
	// .clients__title
	&__title {
		font-weight: 400;
		@include m.adaptiveValue("font-size", 31, 23);
		line-height: 1.4;
		color: var(--white-color);
	}
	// .clients__text
	&__text {
		font-weight: 300;
		line-height: 1.5;
		flex-grow: 1;
		& p:not(:last-child) {
			margin-bottom: m.toRem(7);
		}
	}
	// .clients__rating
	&__rating {
		max-height: m.toRem(18);
	}
}
