:root {
	--main-color: #9c9c9c;
	--white-color: #fff;
	--grey-color:  rgba(129, 129, 139, 0.9);
	--bg-color: #0d0d11;
	--bg-color-light: rgba(129, 129, 139, 0.3);
	--bg-color-light-2: rgba(129, 129, 139, 0.1);
	--bg-label: rgba(129, 129, 139, 0.5);
	--accent-color: #3d96f4;
	--hover-color: #669edb;
	--hover-color-light: rgba(135, 135, 162, 0.455);

}
