@use "./mixins" as m;

.why {
	// .why__container
	&__container {
		@include m.adaptiveValue("padding-top", 96, 35);
		@include m.adaptiveValue("padding-bottom", 96, 35);
		display: flex;
		@include m.adaptiveValue("gap", 60, 25);

		@media (max-width: m.toEm(767.98)){
			flex-direction: column-reverse;
		}
		opacity: 0;
		transform: translateY(10%);
		transition:
			opacity 0.8s ease,
			transform 0.8s ease;
		//-------------------------------------
		&.--animate {
			opacity: 1;
			transform: translateY(0);
		}
	}
	// .why__imgs
	&__imgs {
		flex: 0 1 50%;
		display: flex;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			bottom: 0;
			left: m.toRem(10);
			max-width: m.toRem(121);
			width: 100%;
			aspect-ratio: 1;
			background: url("../img/decor.svg") center center/cover no-repeat;
		}
	}
	// .why__item
	&__item {
		align-self: flex-end;
		width: 100%;
		overflow: hidden;
		&--first {
			max-width: m.toRem(423);
			aspect-ratio: 423/785;
			border-radius: 90% 0 49% 49% / 50% 0 31% 31%;
		}
		&--second {
			max-width: m.toRem(181);
			aspect-ratio: 1;
			border-radius: 50% 50% 50% 0;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .why__content
	&__content {
		flex: 0 1 50%;
		align-self: center;
	}
	// .why__block-info
	&__block-info {

	}
}
