@use "_mixins.scss" as *;

.button {
	border-radius: toRem(8);
	border: toRem(2) solid var(--accent-color);
	background: var(--accent-color);
	padding: toRem(14) toRem(40);
	text-align: center;
	font-size: toRem(20);
	font-weight: 500;
	line-height: 1.2; /* 120% */
	letter-spacing: toRem(0.5);
	transition: all 0.3s;
	&:hover {
		border: toRem(2) solid var(--accent-color2);
	}
	&--min {
		padding: toRem(10) toRem(28);
		font-size: toRem(16);
		line-height: 1.5;
	}
	&--transparent {
		background-color: transparent;
		border: toRem(2) solid transparent;
		&:hover {
			border: toRem(2) solid var(--accent-color);
		}
	}
	&--white-border {
		background-color: transparent;
		border: toRem(2) solid var(--main-color-white);
		@media (any-hover: hover) {
			&:hover {
				border: toRem(2) solid var(--accent-color);
			}
		}
	}
}

.block-header {
	display: grid;
	gap: toRem(32);
	@media (max-width: toEm(767.98)) {
		align-items: center;
		text-align: center;
	}
	&--mini {
		flex-basis: toRem(450);
		@media (max-width: toEm(767.98)) {
			flex-basis: 100%;
		}
	}
	//text-align: center;
	&__top {
		display: grid;
		gap: toRem(16);
	}
	&__label {
		font-size: toRem(20);
		font-weight: 700;
		letter-spacing: toRem(3);
		text-transform: uppercase;
	}
	&__title {
		//text-wrap: balance;
		@include adaptiveValue("font-size", 56, 40);
		font-style: normal;
		font-weight: 800;
		line-height: 1.1; /* 79.2px */
		&--big {
			@include adaptiveValue("font-size", 72, 56);
		}
		&--center {
			text-align: center;
		}
	}
	&__text {
		text-wrap: balance;
		font-size: toRem(18);
		line-height: 1.4;

		max-width: toRem(757);
		&--center {
			justify-self: center;
		}
		p:not(:last-child) {
			margin-bottom: toRem(10);
		}
		@media (max-width: toEm(767.98)) {
			font-size: toRem(16);
		}
	}
	//====================================
	&__line {
		position: relative;
		display: inline-block;
		z-index: 3;
		&::before {
			content: "";
			height: toRem(8);
			background-color: var(--accent-color2);
			width: 100%;
			position: absolute;
			@media (max-width: toEm(767.98)) {
				height: toRem(6);
			}
		}
		&--bottom {
			z-index: 3;
			&::before {
				bottom: 0;
				left: toRem(3);
				width: 93%;
				z-index: -1;
				@media (max-width: toEm(652.98)) {
					display: none;
				}
			}
		}
		&--top {
			&::before {
				left: toRem(4);
				top: toEm(3);
				width: 98%;
				z-index: -1;
			}
		}
	}
	&__purpur {
		color: var(--accent-color);
	}
	&__light-purpur {
		color: var(--accent-color2);
	}
	&__border {
		display: inline-block;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			inset: 0 toEm(4) 0 toEm(-2);
			z-index: -1;
			border: toRem(5) solid var(--accent-color4);
			@media (max-width: toEm(767.98)) {
				border: toRem(3) solid var(--accent-color4);
			}
		}
		&--label {
			&::before {
				display: none;
				@media (max-width: toEm(767.98)) {
					display: inline-block;
					width: 78%;
					height: 235%;
					inset: toEm(8) toEm(0) 0 toEm(55);
				}
			}
		}
	}
	&__square {
		display: inline-block;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			background-color: var(--accent-color3);
			width: toEm(17);
			height: toEm(17);
			inset: toEm(1) 0 0 toEm(-2);
			z-index: -1;
		}
	}
	//======================================
	&__buttons {
		display: flex;
		gap: toRem(16);
		justify-content: center;
		@media (max-width: toEm(430.98)) {
			flex-direction: column;
		}
	}

	&__link {
		justify-self: start;
		padding-right: toRem(35);
		background: url("../img/icons/arrow.svg") right no-repeat;
		font-size: toRem(20);
		font-weight: 500;
		line-height: 1.2; /* 120% */
		letter-spacing: toRem(0.5);
		transition: color 0.3s;
		padding-block: toRem(16);
		width: fit-content;
		@media (max-width: toEm(767.98)) {
			justify-self: center;
		}

		& span {
			position: relative;
			display: inline-block;
			&::after {
				content: "";
				position: absolute;
				width: 0%;
				height: 2px;
				transition: width 0.5s;
				left: 0;
				bottom: 0;
				background-color: var(--accent-color);
			}
		}
		@media (any-hover: hover) {
			&:hover span::after {
				width: 100%;
			}
		}
	}
}
//===================================
.link-event {
	flex-shrink: 0;
	color: var(--accent-color6);
	justify-self: start;
	padding-right: toRem(35);
	background: url("../img/icons/arrow-purpule.svg") right no-repeat;
	font-size: toRem(16);
	font-weight: 500;
	line-height: 1.2; /* 120% */
	letter-spacing: toRem(0.5);
	transition: color 0.3s;
	padding-block: toRem(12);
	width: fit-content;
	@media (max-width: toEm(767.98)) {
		justify-self: center;
	}

	& span {
		position: relative;
		display: inline-block;
		&::after {
			content: "";
			position: absolute;
			width: 0%;
			height: 2px;
			transition: width 0.5s;
			left: 0;
			bottom: 0;
			background-color: var(--accent-color);
		}
	}
	@media (any-hover: hover) {
		&:hover span::after {
			width: 100%;
		}
	}
}
