:root {
--main-bg: #0F172A;
--main-color-white: #fff;
--accent-color: #9333EA;
--accent-color2: #C084FC;
--accent-color3: #BE185D;
--accent-color4: #C2410C;
--accent-color5: #581C87;
--accent-color6: #9333EA;
--accent-color7: #F3E8FF;
--accent-color8: #6B21A8;
--dark-color: #0F172A;
--grey-color: #CBD5E1;
--grey-color2: #94A3B8;

}
